@import 'utils/variables';
@import 'components/type';

.box{
    width: 20px;
    height: 20px;
    background-color: white;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(200px, 200px);
}


body{
    font-size: 30px;
}

.line{
    display: block;
    text-align: center;
    opacity: 0;
    scale: 0;
    // transform-origin: center top;
    margin: 0;
    padding: 0;
}

.codepen{
    color: red;
    text-transform: uppercase;
    font-size: 90px;
}

.title{
    color: black;
    // transform-origin: center bottom;
}